<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{addPost}"></h2>
		<form class="form-horizontal" method="post" action="/post/add"
			th:object="${post}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title" th:text="#{title}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title"
						placeholder="Titulo" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="text" th:text="#{text}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="text"
						placeholder="Texto" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pic" th:text="#{choosePicture}"></label>
				<div class="col-sm-10">
					<input type='file' onchange="readURL(this);" /> <img
						id="yourImage" src="#" />
					<script>
						function readURL(input) {
							if (input.files && input.files[0]) {
								var reader = new FileReader();

								reader.onload = function(e) {
									$('#yourImage').attr('src', e.target.result)
											.width(100).height(100);
								};

								reader.readAsDataURL(input.files[0]);
							}
						}
					</script>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{submit}"></button>
				</div>
			</div>

		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>